
body {
  margin: 0;
  overflow: hidden;
  background: black;
}
canvas {
  display: block;
}
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;
}
canvas {
  display: block;
}
